<!DOCTYPE html>
<html>
	<head>
		<title>CAXHackathon | <%= @title %> </title>
   			<!-- this is the links for the google fonts used -->
			<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Cardo' rel='stylesheet' type='text/css'>
  			<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  			<link href='http://fonts.googleapis.com/css?family=Lato|Oswald' rel='stylesheet' type='text/css'>
  			<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  			<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  			<%= csrf_meta_tags %>
  	</head>

 	<body>
		<header>
			<!--This is the image of the header-->
			<div class="header-image">
				<h1> #BeActive</h1>
				<img src="http://www.utem.edu.my/web2012/image/newlogo/logoUTeMPNG.png"/>
				<div class="submit">
					<!-- this is the link to submit the event posters/news -->
					<a href="#"> Submit Event! </a>
				</div>
			</div>
			<!--header image ends here-->
		</header>
		<!--The latest posts go here-->
		<% if current_page? root_path %>
		<div class="header-content">
			<div class="title">
				<h1>LATEST</h1>
			</div>
			<div id="one">
				<a href="/post">
					<img src = "http://upload.wikimedia.org/wikipedia/commons/5/57/Italian_Taekwondo_Championships_2013.jpg" title="Latihan Kelab Taekwondo UTeM" />
				</a>
			</div>
			<div id="small">
		 		<div class="small">
		 			<a href="/">
		 				<img src="http://www.asiaexplorers.com/malaysia/kedah/langkawi/pantaicenang/02.jpg" />
		 			</a>
		 		</div>
				<div class="small">
					<a href="/">
						<img src="http://www.majoreventsinternational.com/community/images/cycling_companions.jpg" />
					</a>
				</div>
				<div class="small">
					<a href="/">
						<img src="http://fffcpas.com/wp-content/uploads/2013/07/shutterstock_132746927.jpg" />
					<a>
					</div>
				<div class="small">
					<a href="/">
						<img src="http://idahodems.org/wp-content/uploads/2014/04/debate.jpg" />
					</a>	
					</div>	
			</div>
		</div>
		<%end%>
		<!--The latestt posts section ends here-->
		<!-- below is the nav bar -->
 		<nav id="navbar">
			<ul>
				<li> 
		    		<a href="/"> Home </a>
        		</li>
				<li> 
		    		<a href="/club"> Club </a>
        		</li>
				<li> 
		    		<a href="/association"> Associations</a>
        		</li>
				<li> 
		    		<a href="/secretariat"> Secretariat</a>
        		</li>
        		<li>
        			<a href="/faculty">Faculty</a>
        		</li>
     		</ul>
 		</nav>
 		<!--navigation bar ends here-->
		<div class="main">
			<div class="content">
 				<%= yield %>
			</div>
		</div> 
 	</body>
</html>
